<style>
    .container_custom_modal {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .modal-window {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.25);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

        .modal-window.active {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-window > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 440px;            
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
            background: white;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

    .modal-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -40px; /* Ajuste para mover para cima */
        margin-bottom: 20px;
    }

    .modal-close {
        color: red;
        font-size: 150%;
        text-align: center;
        text-decoration: none;
        cursor: pointer;

    }

        .modal-close:hover {
            color: cadetblue;

        }

    
</style>

<div id="open-modal" class="modal-window">
    <div>
        <div class="modal-header">
            <h5 class="modal-title" id="customModalTitle">@Model.Title</h5>
            <span class="modal-close" title="fechar" onclick="closeModal()"><i class="bi bi-x-square"></i></span>
        </div>
        <div id="customModalContent">@Html.Raw(Model.Content)</div>
    </div>
</div>

<script>  
  
    function openModal() {
        var modal_custom = document.getElementById('open-modal');
        if (modal_custom) {
            modal_custom.classList.add('active');
        }
    }

    function closeModal() {
        var modal_custom = document.getElementById('open-modal');
        if (modal_custom) {
            modal_custom.classList.remove('active');
        }
    }

    
</script>
