<style>
    .container_custom_modal {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .modal-window {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.25);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

        .modal-window:target {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }

        .modal-window > div {
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2em;
            background: white;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

    .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
    }

        .modal-close:hover {
            color: black;
        }

    .modal-title {
        font-size: 100%;
        margin: 0 0 15px;
    }

    .btn_custom_modal {
        background-color: white;
        padding: 1em 1.5em;
        border-radius: 0.5rem;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease;
        cursor: pointer; /* Adicionando cursor pointer para indicar que é clicável */
    }

        .btn_custom_modal:hover {
            background-color: #eee;
        }
</style>

<div class="container_custom_modal">
    <div class="interior">
        <button class="btn_custom_modal" onclick="showModal()">👋 Basic CSS-Only Modal</button>
    </div>
</div>

<div id="open-modal" class="modal-window">
    <div>
        <span class="modal-close" onclick="closeModal()">Close</span>
        <h5 class="modal-title" id="customModalTitle">@Model.Title</h5>
        <div id="customModalContent">@Html.Raw(Model.Content)</div>
    </div>
</div>

<script>
    function showModal() {
        window.location.href = "#open-modal";
    }

    function closeModal() {
        window.location.href = "#"; 
    }
</script>
