<!-- Views\Shared\_ErrorModal.cshtml -->
@model front.Models.ErrorModalModel

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalTitle">@Model.Title</h5>
                <button type="button" class="btn-close" onclick="hideErrorModal()" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div id="errorMessage">@Model.ErrorMessage</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideErrorModal()">Fechar</button>
            </div>
        </div>
    </div>
</div>
