<!-- Views\Shared\_ErrorModal.cshtml -->
@model front.Models.ErrorModalModel

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalTitle">@Model.Title</h5>
                <button type="button" class="btn-close" onclick="fecharErrorModal()">
                </button>
            </div>
            <div class="modal-body">
                <div id="errorMessage">@Model.ErrorMessage</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="fecharErrorModal()">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function fecharErrorModal() {
        var errorModal = document.getElementById('errorModal');
        if (errorModal) {
            var bootstrapModal = bootstrap.Modal.getInstance(errorModal);
            if (bootstrapModal) {
                bootstrapModal.hide();
            }
        }
    }
</script>