@model front.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";

    var errorModel = new ErrorModalModel
            {
                ErrorMessage = "Esta é uma mensagem de erro dinâmica."

            };
}

<style>
    body {
        background-color: #d1e3ff;
    }

</style>

<partial name="_LoadingModal" />
<partial name="_ErrorModal" model="errorModel" />


<div class="container d-flex justify-content-center align-items-center " style="padding-top: 10px; padding-bottom: 30px;">

    <img src="~/images/professional-img.png" alt="" class="img-responsive d-none d-md-inline" style="max-width: 100%; height: auto; width: 40%;">

    <div class="card" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <h2 class="card-title">Recuperar senha</h2>
            <form asp-action="Create" asp-controller="Login" method="post" class="form" id="ResetForm" style="padding: 30px">
                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                <div class="form-group mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" style="width: 300px;" readonly value="@Html.Raw(Model.Email)" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">                    
                    <input asp-for="Token" type="hidden" class="form-control" style="width: 300px;" readonly size="450" value="@Html.Raw(Model.Token)" />
                    <span asp-validation-for="Token" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" style="width: 300px;" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary" id="submitButton">
                    <span id="loadingIndicator" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    Enviar
                </button>

            </form>
            <a href="/Login" style="color: black; font-size: smaller;">Login</a>

        </div>
    </div>


</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#ResetForm').submit(function (event) {
                event.preventDefault();

                if (!$(this).valid()) {
                    return;
                }

                loadingModal();

                var formData = $(this).serialize();

                $.ajax({
                    url: '/Login/ResetPassword',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        if (result.success === false) {
                            showErrorModal(result.errorMessage);
                        } else {
                            showErrorModal(result.successMessage, "Sucesso");
                            window.location.href = result.redirectUrl;
                        }
                    },
                    error: function (error) {
                        showErrorModal('Erro ao processar a requisição.');
                    },
                    complete: function () {
                        setTimeout(function () {
                            closeLoadingModal();
                        }, 500);

                        $('#loginForm')[0].reset();
                    }
                });
            });

            $('#errorModal').on('hidden.bs.modal', function () {
                $('#errorMessage').empty();
            });
        });
    </script>
}

